<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Reason</th>
        <th scope="col">Action</th>
        <th scope="col">Responsible Staff</th>
        <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <th scope="row">?</th>
            <td><a onclick="recipient('{{log.punished.username}}')" href="javascript:void(0);">{{log.punished.username}}</a></td>
            <td>{{ log.reason }}</td>
            <td>
                {{ log.punishment.name }}<br>
                {% if log.punishment.timeInHours > 0 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                             style="width: {{ log.progress_percent }}%">
                            {{ log.progress_percent_rounded }}%
                        </div>
                    </div>
                {% endif %}
            </td>
            <td><a onclick="staff('{{log.staff.display}}')" href="javascript:void(0);">{{ log.staff.display }}</a></td>
            <td>{{ log.actionTime }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>