.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 85%; /* Center the snackbar */
    top: 70px; /* 30px from the bottom */
}

.snackbar.show {
    visibility: visible; /* Show the snackbar */


    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

.snackbar.hide {
     -webkit-animation: fadeout 0.6s;
    animation: fadeout 0.6s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {top: 40px; opacity: 0;}
    to {top: 70px; opacity: 1;}
}

@keyframes fadein {
    from {top: 40px; opacity: 0;}
    to {top: 70px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 70px; opacity: 1;}
    to {top: 110px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 70px; opacity: 1;}
    to {top: 110px; opacity: 0;}
}