{% extends "public/server_base.html" %}

{% block content %}


            <h2 class="card-title">About Us</h2>
            <p class="card-text">
                blah blah blah paragraph(s) here about the discord and it's purpose                 blah blah blah paragraph(s) here about the discord and it's purpose
                blah blah blah paragraph(s) here about the discord and it's purpose
                blah blah blah paragraph(s) here about the discord and it's purpose
                blah blah blah paragraph(s) here about the discord and it's purpose
                blah blah blah paragraph(s) here about the discord and it's purpose
                blah blah blah paragraph(s) here about the discord and it's purpose

            </p>
            <hr>
            <h2 class="card-title">Meet the Team:</h2>
            <p class="card-text">
                Learn more about the individuals making the FRC Discord Server the place that it is today.
            </p>
            <h5 class="card-title"><strong>Administrators</strong></h5>
            <p class="card-text">
                The server Administrators are the people who manage the server as a whole. (Need more content here)
            </p>
            <div class="card-deck">
                <div class="card w-50">
                    <img class="card-img-top" src="https://frcdiscord.github.io/images/calvin.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Cal (CalTran)</h4>
                        <strong class="card-text">Administrator | Team 2410 | Alumni | Mentor | Volunteer | March 2017 - Present</strong>
                        <hr>
                        <p class="card-text">
                            I am an alum of Team 2410, Metal Mustang Robotics. In my time on the team, I worked with graphic design, team media, and electrical, became the team's overall captain, and oversaw both build and administrative aspects of the team.

Following graduation, I continued my involvement in FIRST, becoming an event volunteer, and now help with both the AV side of the show as well as slowly climbing the ranks as a rising MC and referee for both FRC and FTC events. Additionally, I am a key volunteer for VEX Worlds as an MC.
                        </p>
                    </div>
                </div>
                <div class="card w-50">
                    <img class="card-img-top" src="https://frcdiscord.github.io/images/evin.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Evin (TPG)</h4>
                        <strong class="card-text">
                            Administrator | Team 2403 | Alumni | Volunteer | June 2016 - Present
                        </strong>
                        <hr>
                        <p class="card-text">
                            It looks like this person doesn't have a biography... 😢
                        </p>
                    </div>
                </div>
            </div>


{% endblock %}