{% extends "public/server_base.html" %}

{% block content %}

    <h2>{{ request.user.username }}'s Account</h2>
    <hr>
    {% if not info.discord %}
        <p>
            It looks like you aren't logged in through Discord!
            If you want to use most of the features here, you'll need to migrate
            this account to your Discord account.
        </p>
        ...too bad that feature isn't done yet. ¯\_(ツ)_/¯
    {% endif %}
    <hr>
    {% if member and member.verified %}
        <a href='{% url 'public:logs' %}?user={{member.username | safe}}'>View mod logs related to you</a>
    {% endif %}
{% endblock %}