<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load groups %}
    <title>FRC Discord</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1d9759;">
    <a class="navbar-brand" href="{% url 'public:index' %}">The FRC Discord</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'public:about' %}">About Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'public:rankings' %}">Rankings</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'public:logs' %}">Mod Logs</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'public:mail' %}">Mod Mail</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-none d-md-flex">
            {% if request.user|has_group:"discord-staff" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'public:index' %}">Staff</a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'public:account' %}">Account</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'public:logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'public:login' %}">Log In</a>
                </li>
            {% endif %}
    </ul>

    </div>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<div id="content" class="container" style="margin-top: 15px;">
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
</div>
</body>
</html>