{% extends "public/server_base.html" %}

{% block content %}
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <div id="login_warning" class="alert alert-danger"></div>
                <h4 class="card-title">Log In</h4>
                <form action="{% url 'public:login' %}" onsubmit="return validate_login()" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <input type="text" name="type" value="login" style="display: none;">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
                <hr>
                <p>
                    Alternatively, you can sign in through your Discord account.
                </p>
                <a class="btn btn-dark" href="{{discord_url}}">
                    Log In With <img width=auto height=20px style="margin-bottom: 4px;" src="https://discordapp.com/assets/93608abbd20d90c13004925014a9fd01.svg">
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="reg_warning" class="alert alert-danger"></div>
                <h4 class="card-title">Register</h4>
                <p>
                    A lot of the features here require you to be logged in through
                    your Discord account, so we <strong>really recommend</strong> logging
                    in through Discord instead. If not, you can make an account seperate
                    from your Discord account below.
                </p>
                <hr>
                <form action="{% url 'public:login' %}" onsubmit="return validate_register()" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="r_username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="r_password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="password">Verify Password</label>
                        <input type="password" class="form-control" id="r_password_verify">
                    </div>
                    <input type="text" name="type" value="register" style="display: none;">
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function() {
            $("#login_warning").hide();
            $("#reg_warning").hide();
        });

        function validate_login() {
            if (!$("#username").val() || !$("#password").val()) {
                login_warning("Whoa there! Make sure to fill all the fields out.")
                return false
            }
            return true
        }

        function validate_register() {
            if (!$("#r_username").val() || !$("#r_password").val()) {
                reg_warning("Whoa there! Make sure to fill all the fields out.")
                return false
            }
            if ($("#r_password").val() != $("#r_password_verify").val()) {
                reg_warning("Uh oh! Your passwords didn't match. Try again.")
                return false
            }
            return true
        }

        function login_warning(text) {
            $("#login_warning").text(text)
            $("#login_warning").show()
        }

        function reg_warning(text) {
            $("#reg_warning").text(text)
            $("#reg_warning").show()
        }
    </script>
{% endblock %}