{% extends "public/base.html" %}

{% block content %}

    <h2 class="card-title">Mod Logs</h2>
    <p>
        A running tracker of anything the moderation team does on the Discord. This
        includes warnings, punishments, and most changes to the server. These logs
    can be searched through and filtered to see the actions of specific staff members,
    the history of specific users, and <i>other things</i>.
    </p>
    <a data-toggle="collapse" href="#search"><h5>Search/Filter Logs</h5></a>
    <div class="collapse" id="search">
        <div class="card card-body">

                <div class="form-row">
                    <div class="form-group col-md-6 col-lg-3">
                        <label for="punish_user">Recipient Username</label>
                        <div class="input-group">
                            <div class="input-group-addon">@</div>

                            <input type="text" class="form-control dropdown-toggle" id="punish_user" data-toggle="dropdown" placeholder="User#0000">
                            <!--<div id="user_dropdown" class="dropdown-menu">
                                <a class="dropdown-item" href="#">H2O2O#4444</a>
                                <a class="dropdown-item" href="#">Ornamus#3164</a>
                                <a class="dropdown-item" href="#">FakeGuy#1237</a>
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-lg-3">
                        <label for="staff">Staff Name or Username</label>
                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <input type="text" class="form-control" id="staff" placeholder="CalTran">
                        </div>
                    </div>
                </div>
                <div row>
                <button class="col-6 col-md-4 col-lg-2 btn btn-primary" role="button" onclick="search()">Search</button>
                </div>
            {% csrf_token%}
        </div>
    </div>
    <div id="pagediv">
    </div>
    <div id="tablediv">
    </div>
    <script>
        var pages = []
        var currentPage = -1

        $(document).ready(function(){
           search()
        });

        function search() {
            sendData = {
                reverse: false
            }
            punished_user = $("#punish_user").val()
            if (punished_user != undefined && punished_user != "") {
                sendData['punished_user'] = punished_user
            }
            staff_user = $("#staff").val()
            if (staff_user !=undefined && staff_user != "") {
                sendData['staff_user'] = staff_user
            }
            $.post("{% url 'public:logs_search' %}", sendData).done(function(data){
                //console.log(data)
                pages = data.pages
                if (data.pageCount > 1) {
                    $("#pagediv").html(data.page_nav)
                } else {
                    $("#pagediv").empty()
                }
                page(1)
            });
        }

        function page(num) {
            if (num > 0 && num <= pages.length) {
                currentPage = num
                $("#tablediv").html(pages[currentPage-1])
                $(".page-item").removeClass("active")
                $(".page-item").each(function() {
                    if ($(this).text() == currentPage) {
                        $(this).addClass("active")
                    }
                })
                if (currentPage == 1) {
                    $("#page_first").addClass("disabled")
                } else {
                    $("#page_first").remove("disabled")
                }
                if (currentPage == pages.length) {
                    $("#page_last").addClass("disabled")
                } else {
                    $("#page_last").remove("disabled")
                }
            }
        }
    </script>
{% endblock %}