{% extends "public/server_base.html" %}

<!--TODO: redirect somewhere after submit, instead of the page refreshing-->

{% block content %}
    {% if appeal %}
        <h2>Punishment Appeal</h2>
    {% else %}
        <h2>Mod Mail</h2>
        <p>
            Want to send the mod team some feedback? Have a concern? Please contact us
            through here!
        </p>
    {% endif %}
    <form action="{% url "public:mail_receive" server_id=server.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="sender" maxlength="50" placeholder="Jerry" value="{{prefill_name}}" {{ name_class_add }}>
                {% if not appeal %}
                    <small class="form-text text-muted">
                        {% if request.user.is_authenticated %}
                            We only ask for your name so that we can contact you as a followup
                            or if we have any questions. If you'd <i>really</i> rather stay
                            anonymous, you can <a href="{% url 'public:logout' server_id=server.id %}">
                            log out</a> first.
                        {% else %}
                            Fair warning; if you don't <a href="{% url 'public:login' server_id=server.id %}">
                        log in</a> and instead submit an anonymous mail (what you're doing right now),
                            we won't be able to follow up with you!
                        {% endif %}
                    </small>
                {% endif %}
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" maxlength="100" placeholder="I am concerned about..." value="{{prefill_subject}}" {{ subject_class_add }}>
            </div>
        </fieldset>
        <div class="form-group">
            <label for="name">Content</label>
            <textarea class="form-control" id="text" name="content" rows="6" maxlength="2000"></textarea>
        </div>
        <input type="hidden" name="type" value="{% if appeal %}appeal{% else %}mail{% endif %}"/>
        {% if appeal %}
            <input type="hidden" name="appeal_id" value="{{appeal.id}}"/>
        {% endif %}
        <button class="btn btn-primary" action="submit">Send</button>
    </form>
{% endblock %}