{% extends "public/server_base.html" %}

{% block title %}Staff - {{ server.name }}{% endblock %}
{% block content %}
    <h2>Server Staff Dashboard</h2>
    <hr>
    <div class="row">
    <div class="col-lg-3">
            <div class="card">
                <p class="card-header">
                    Quick Links
                </p>
                <div class="card-body">
                    • <a href="#">Manage Mod Logs</a>
                    <br>
                    • <a href="#">Website Settings</a>
                </div>
            </div>
        </div>
        <div class="list-group col-lg-7 offset-lg-2">
            <h5>Unresolved Mail and Appeals:</h5>
            <div class="list-group">
                {% for mail in all_mail %}
                    <a data-toggle="collapse" href="#mail_{{ mail.id }}"
                       class="list-group-item list-group-item-action">
                        <span><strong>Mail: </strong> {{ mail.subject }} <span
                                class="text-muted">(from {{ mail.sender }})</span></span>
                        {% if not mail.read %}
                            <span class="badge badge-danger">Unread</span>
                        {% endif %}
                        <div class="collapse" id="mail_{{ mail.id }}">
                            <hr>
                            <p>
                                {{ mail.content }}
                            </p>
                            <button class="btn btn-primary btn-sm">Mark As...</button>
                            <button class="btn btn-primary btn-sm">Send Response</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}